{
    "parser": "@babel/eslint-parser",
    "extends": [
        "google"
    ],
    "rules": {
        // Additional, per-project rules...
        "linebreak-style": 0,
        "require-jsdoc": 0,
        "no-unused-vars": 1
    }
}